body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* parent container */
.container {
  width: 100%;
  background-color: #f7f7f9;
  margin: 0 auto;
  height: fit-content;
}

/* navbar */
.navbar {
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  margin-left: 16px;
  padding: 8px;
  max-width: 5px;
  max-height: 5px;
}

.hamburger {
  margin-right: 16px;
  padding: 8px;
  width: 18px;
  height: 12px;
}

.nav-menu {
  display: none;
}

.nav-menu.active {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 112, 255, 0.9);
  flex-direction: column;
  font-size: 32px;
  line-height: 44px;
  padding: 100px 40px;
}

.nav-menu.active a {
  color: #fff;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #6070ff;
}

.hamburger.active .bar {
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* headline container */
.headline {
  background-color: #fff;
  background-image: url(./src/assets/img/headline-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 110px 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.head-primary {
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.head-intro {
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.lets-connect {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 8px;
}

.social-links {
  width: 170.17px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* Projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.skills img {
  width: 8px;
  height: 14px;
}

.language img {
  width: 48px;
  height: 48px;
}

.snapshoot img:hover {
  transform: scale(1.25);
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.second-card .left-block,
.fourth-card .left-block {
  height: 332px;
}

.project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.second-card .project-title,
.fourth-card .project-title {
  height: 124px;
}

.title {
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.second-card .title,
.fourth-card .title {
  height: 80px;
}

.frame ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: 40px;
  color: #7a869a;
  margin: 0;
}

.client {
  color: #344563;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project-tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.html,
.css,
.javascript {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project-action {
  width: 295px;
  height: 72px;
}

.project-action button,
.get-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  cursor: pointer;
}

.get-button {
  width: 162px;
}

.project-action button:hover,
.get-button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transform: scale(1.1);
}

.project-action button:active,
.get-button:active {
  background: #2230d2;
  color: #fff;
}

.project-action button:disabled,
.get-button:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  box-shadow: none;
}

/* About me section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  background-color: #fff;
  border-top-right-radius: 100px 100px;
}

.about .head-primary {
  height: 101px;
}

.about .head-intro {
  padding-top: 10px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* width: 327px; */
  height: 72px;
  border-bottom: #dfe1e6 1px solid;
}

.skill:first-child {
  border-bottom: none;
}

.skill p {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  gap: 10px;
}

li.language {
  margin: 8px 0;
}

.hide {
  display: none;
}

/* Contact section/ */
.contact {
  background-color: #fff;
}

.contact-wrap {
  height: 780px;
  background: #6070ff;
  background-image: url(./src/assets/img/contact-form\ back-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
}

.contact-title {
  height: 56px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-text {
  /* width: 327px; */
  height: 102px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 10px;
}

.contact-text:hover {
  transform: translate(-0.4rem, -0.5ex);
}

.form-wraper {
  /* width: 327px; */
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.form-control {
  /* width: 327px; */
  height: 48px;
  background-color: #fff;
  margin-top: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#name,
#email,
#meesage {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #172b4d;
  padding: 0 15px;
  box-sizing: border-box;
}

#name::placeholder,
#email::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  font-size: 14px;
}

#message {
  resize: none;
  height: 170px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

#message::placeholder {
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  position: absolute;
  left: 16px;
  right: 38px;
  top: 15px;
  bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

#submit {
  margin-top: 24px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-btn:hover {
  background-color: #1f4690;
}

.form-btn:active {
  background: #2230d2;
  color: #fff;
}

.home-indicator {
  width: 134px;
  border-radius: 10px;
  margin-top: 30px;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  .container {
    width: auto;
  }

  .hamburger {
    display: none;
  }

  header {
    width: 100%;
    background-color: #fff;
    position: fixed;
  }

  .navbar {
    height: 72px;
    margin-left: 150px;
    margin-right: 150px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
    width: 250px;
  }

  /* headline section */
  .headline {
    background-image: url(./src/assets/img/desktop-head-back.svg);
    background-size: contain;
    justify-content: center;
    align-items: center;
    padding: 250px 144px;
  }

  .head-primary {
    width: 920px;
    height: 122px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .head-intro {
    width: 920px;
    height: 98px;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
  }

  /* Projects section */
  .projects {
    padding: 142px;
    gap: 142px;
    width: 100%;
    box-sizing: border-box;
  }

  .project-card {
    flex-direction: row;
    box-sizing: border-box;
    padding-bottom: 16px;
  }

  .snapshoot img {
    width: 544px;
    height: 448px;
  }

  .skills img {
    width: 8px;
    height: 14px;
  }

  .language img {
    width: 48px;
    height: 48px;
  }

  .snapshoot img:hover {
    transform: scale(1);
  }

  .left-block {
    padding: 24px;
    width: 544px;
  }

  .second-card,
  .fourth-card {
    flex-direction: row-reverse;
  }

  .second-card br,
  .fourth-card br {
    display: none;
  }

  .project-title {
    padding: 0;
    width: 496px;
    height: 98px;
  }

  .title {
    height: 46px;
    font-size: 40px;
    line-height: 52px;
  }

  .frame ul {
    width: 320px;
    height: 40px;
  }

  .info {
    width: 496px;
    height: 70px;
    font-size: 16px;
  }

  .project-tags ul {
    width: 316px;
    height: 24px;
  }

  /* About me section */
  .about {
    flex-direction: row;
    padding: 144px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
  }

  .top {
    width: 447px;
  }

  .about .head-primary {
    font-size: 40px;
    line-height: 52px;
  }

  .about .head-intro {
    width: 447px;
    height: 102px;
    font-size: 16px;
    line-height: 24px;
  }

  .skill {
    width: 684px;
  }

  .skill p {
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .language {
    display: inline-block;
    width: 122px;
    height: 120px;
    padding: 8px;
  }

  li.language {
    margin: 8px 0;
  }

  /* Contact section/ */
  .contact-wrap {
    background-image: url(./src/assets/img/contact-back-desktop.svg);
    background-position: center;
    justify-content: space-evenly;
  }

  .contact-title {
    text-align: center;
    width: 801px;
    height: 56px;
  }

  .contact-text {
    width: 569px;
  }

  .contact-text:hover {
    transform: none;
  }

  .form-wraper {
    width: 447px;
    margin-top: -90px;
  }

  .form-control {
    width: 447px;
    margin-top: 15px;
  }

  #submit {
    margin-top: 24px;
    align-self: center;
  }

  .home-indicator {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .project-card {
    flex-direction: column;
  }
}