body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background-color: #eaf6f6;
  font-family: 'Poppins', sans-serif;
}

/* parent container */
.container {
  background-color: #f7f7f9;
  max-width: 375px;
  margin: 0 auto;
  height: fit-content;
}

/* navbar */
.navbar {
  height: 48px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 16px;
  padding: 8px;
  max-width: 5px;
  max-height: 5px;
}

.nav-toggler {
  margin-right: 16px;
  padding: 8px;
}

/* headline container */
.headline {
  background-color: #fff;
  background-image: url(./src/assets/img/headline-background.svg);
  background-repeat: no-repeat;
  border-bottom-left-radius: 110px 110px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.head-primary {
  width: 327px;
  height: 150px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.head-intro {
  width: 327px;
  height: 146px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.lets-connect {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 8px;
}

.social-links {
  width: 170.17px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* Projects section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.snapshoot img:hover {
  transform: scale(1.25);
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.second-card .left-block,
.fourth-card .left-block {
  height: 332px;
}

.project-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.second-card .project-title,
.fourth-card .project-title {
  height: 124px;
}

.title {
  height: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.second-card .title,
.fourth-card .title {
  height: 80px;
}

.frame ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: 40px;
  color: #7a869a;
  margin: 0;
}

.client {
  color: #344563;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.project-tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
}

.html,
.css,
.javascript {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project-action {
  width: 295px;
  height: 72px;
}

.project-action button,
.get-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 124px;
  height: 48px;
  cursor: pointer;
}

.get-button {
  width: 162px;
}

.project-action button:hover,
.get-button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transform: scale(1.1);
}

.project-action button:active,
.get-button:active {
  background: #2230d2;
  color: #fff;
}

.project-action button:disabled,
.get-button:disabled {
  background: #e5e5e5;
  color: #5e6c84;
  box-shadow: none;
}

/* About me section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  background-color: #fff;
  border-top-right-radius: 100px 100px;
}

.about .head-primary {
  height: 101px;
}

.about .head-intro {
  padding-top: 10px;
}

.skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  height: 72px;
  border-bottom: #dfe1e6 1px solid;
}

.skill:first-child {
  border-bottom: none;
}

.skills img {
  width: 8px;
  height: 14px;
}

.skill p {
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  gap: 10px;
}

li.language {
  margin: 8px 0;
}

.language img {
  width: 48px;
  height: 48px;
}

.hide {
  display: none;
}

/* Contact section/ */
.contact {
  background-color: #fff;
}

.contact-wrap {
  /* width: 375px; */
  height: 780px;
  background: #6070ff;
  background-image: url(./src/assets/img/contact-form\ back-mobile.svg);
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.contact-title {
  height: 56px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-text {
  width: 327px;
  height: 102px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 10px;
}

.form-wraper {
  width: 327px;
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.form-control {
  width: 327px;
  height: 48px;
  background-color: #fff;
  margin-top: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

#name,
#email,
#meesage {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #172b4d;
  padding: 0 15px;
  box-sizing: border-box;
}

#name::placeholder,
#email::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
  font-size: 14px;
}

#message {
  resize: none;
  height: 170px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

#message::placeholder {
  color: #b3bac5;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  position: absolute;
  left: 16px;
  right: 38px;
  top: 15px;
  bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

#submit {
  margin-top: 24px;
}

textarea:focus,
input:focus {
  outline: none;
}

.form-btn:hover {
  background-color: #1f4690;
}

.form-btn:active {
  background: #2230d2;
  color: #fff;
}

.home-indicator {
  width: 134px;
  border-radius: 10px;
  margin-top: 100px;
}

